:root {
  --pageBackground: lightgrey;
  --cardBackground: white;
  --subtitleColor: #cf9fff;
}

* {
  margin: 0;
}
body {
  background: var(--pageBackground);
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  box-shadow: 0px 0px 5px 5px black;
  margin-bottom: 10px;
}

h3 {
  text-transform: capitalize;
  font-family: "Arial Narrow Bold", sans-serif;
}

.section-title {
  font-size: 25px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.blogs-center {
  margin: 5rem;
  background: var(--pageBackground);
}

.blog {
  background: var(--cardBackground);
  padding: 2rem;
  border-radius: 25px;
  margin-bottom: 50px;
}
.subtitle {
  color: var(--subtitleColor);
  font-size: 20px;
}

@media screen and (min-width: 570px) {
  .blog-content {
    font-size: 30px;
  }
}
